
.btn {
  padding: 8px 15px;
}

.btn.btn__main--orange {
  background: var(--color-main-orange);
  color: var(--color-dark-orange);
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  margin: 10px 0;
}

.btn.btn__main--gray {
  background: var(--color-main-text);
  color: var(--color-main-border);
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  margin: 10px 0;
}

.btn.primary {
  background: #45D6FF;
  color: #055065;
  font-size: 12px;
  font-weight: 500;
  height: 30px;
  letter-spacing: 0.26px;
  margin-top: 10px;
  text-align: center;
  width: 120px;
}

.btn.green {
  align-items: center;
  background: #4dfb7c;
  color: #285634;
  display: flex;
  font-size: 12px;
  height: 20px;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 20px;
  cursor: pointer;
}

.btn.red {
  align-items: center;
  background: #ef5154;
  color: #651c1e;
  display: flex;
  font-size: 12px;
  height: 20px;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 20px;
  cursor: pointer;
}

.btn.green i,
.btn.red i {
  font-size: 14px;
}

.btn__addparam {
  background: linear-gradient(to bottom, #f1f6f8 0%,#eff5f7 100%);
  border: 1px solid #dfe3ed;
  border-radius: 1000px;
  color: #142243;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 0;
  width: 130px;
}

.btn__create__screen {
  background: linear-gradient(to bottom, #4f72f5 0%,#3358e0 100%);
  border:none;
  border-radius: 1000px;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 0;
  width: 150px;
}

/* button:disabled,
button[disabled]{
  background: #f4f4f4;
  color: #cccccc;
  cursor: not-allowed;
} */

/* Header Buttons  */

.btn__h {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 700;
  color: var(--color-main-text);
  background: transparent;
  margin: 0 10px;
}

.btn__h span{
  margin-top: 5px;
  display: block;
  white-space: nowrap;
}

.dev__tools {
  background: #E37833;
  color: white;
  font-weight: bold;
  width: 100%;
  padding: 10px 0;
  font-size: 12px;
}
