
.form-control input[type="url"],
.form-control input[type="text"]{
  background: transparent;
  color: #d4d9e5;
  border: 1px solid #d4d9e5;
  width: 100%;
  height: 38px;
  font-size: 14px;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 6px;
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.form-control input[type="url"]::placeholder,
.form-control input[type="number"]::placeholder,
.form-control input[type="text"]::placeholder {
  color: #6A81B8;
}

.edit__row input:focus,
.form-control input[type="url"]:focus,
.form-control input[type="number"]:focus,
.form-control input[type="text"]:focus {
  outline: none;
  border: 1px solid var(--color-dark-green)
}

.edit__row input:disabled,
.form-control input[type="url"]:disabled,
.form-control input[type="number"]:disabled,
.form-control input[type="text"]:disabled {
  background: #2f2f2f;
  border: 0.0625rem solid #929292;
  cursor: not-allowed;
}



/* Add Params Styles */
.input__row {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}

.input__error {
  color: var(--main-red) !important;
  border-color: var(--main-red) !important;
}

.input__row .form-control:first-child{
  margin-right: 4%;
}

.input__row .inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input__row .inputs.inputs--vertical {
  flex-direction: column;
}

.input__row .inputs.inputs--vertical .form-control {
  margin-bottom: 10px;
}

.input__row .inputs .form-control {
  width: 100%;
}

.input__row i {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--main-red)
}

.input__row .form-control {
  position: relative;
}

.input__row .form-control.has-label input {
  padding-left: 25px;
}
.input__row .form-control input,
.input__row .form-control textarea {
  background: #101010;
  border: 1px solid #313131;
  border-radius: 3px;
  font-size: 12px;
  color: var(--color-main-text);
  letter-spacing: 0.26px;
  width: 100%;
  height: 38px;
  padding: 5px 10px;
  box-sizing: border-box;
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.input__row .form-control input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input__row .form-control label {
  position: absolute;
  left: 8px;
  top: 1px;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  opacity: 0.5;
  font-family: Roboto-Medium;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0.43px;
  font-weight: bold;
}

.input__row .form-control span {
  position: absolute;
  right: 8px;
  top: 1px;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  opacity: 0.25;
  font-size: 10px;
  color: #FFFFFF;
  letter-spacing: 0.43px;
}

/* Edits  */

.edit__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  border-top: 1px solid  #2d2d2d;
  border-bottom: 1px solid  black;
  margin: 0 -10px 10px;
  padding: 10px 10px;
}

.edit__row:last-child {
  border-bottom: none;
}
.edit__row:first-child {
  border-top: none;
}

.edit__row--delete {
  border: 1px solid red;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
}

.edit__row--delete svg {
  transform: scale(0.4);
}

.edit__row input{
  background: #101010;
  border: 1px solid #313131;
  border-radius: 3px;
  font-size: 12px;
  color: var(--color-main-text);
  letter-spacing: 0.26px;
  width: 95px;
  height: 38px;
  padding: 5px 10px;
  box-sizing: border-box;
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.edit__row input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Add a thumb */
textarea#value::-webkit-scrollbar-thumb {
    background: #000;
}

/* textarea#value::-webkit-scrollbar {
  display: none;
} */

textarea#value::-webkit-scrollbar {
  width: 8px;
  margin-bottom: -10px;
}

/* Track */
textarea#value:focus::-webkit-scrollbar-corner,
textarea#value:focus::-webkit-resizer,
textarea#value::-webkit-resizer,
textarea#value::-webkit-scrollbar-corner {
  border: none;
}
textarea#value::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: black;
}

/* Handle */
textarea#value::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid black;
  background: rgb(87, 87, 87);
}
