
.app__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.app__left{
  width: 70%;
  display: grid;
  grid-template-columns: [toolbar] 60px auto;
  grid-template-rows: [header] 60px auto [footer] 60px;
  /* display: flex;
  justify-content: stretch;
  flex-wrap: wrap; */
}

.app__right {
  width: 30%;
}