.app__params {
  padding: 20px;
  margin: 0 -20px;
}

.add__param .btn.btn__main--gray {
  margin-right: 10px;
}

.app__list--param {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  margin: 0 -10px;
  border-bottom: 1px solid black;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0.36px;
  line-height: 1.5em;
}

.app__list--param .app__list--param--content {
  display: flex;
  flex-direction: column;
  width: calc(100% - 30px);
}

.app__list--param .app__list--param--content b {
  font-weight: bold;
  white-space: nowrap;
  margin-right: 5px;
}

.app__list--param .app__list--param--content p {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.app__list--param .app__list--param--content .param__value span{
  white-space: normal;
  text-overflow: initial;
  display: block;
  word-break: break-all;
}

.app__list--param .checkbox {
  margin-right: 10px;
  top: 2px;
  position: relative;
}