.app__screens {
  background: #eef4f6;
  box-sizing: border-box;
  padding: 15px;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  overflow: scroll;
}

.app__screens .screens{
  height: 100%;
  width: 100%;
}

.app__screens .screens .layoutHolder{
  align-items: center;
  box-shadow: #00000011 0 2px 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  justify-content: center;
  text-align: center;
}

.app__screens .screens .layoutHolder.active .title__bar{
  background: #F97072 !important;
}

.dashed {
  border: 2px dashed #4194af;
}

.app__screens .screens .layoutHolder .title__bar {
  align-items: center;
  background: var(--main-dark-blue);
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-weight: 500;
  height: 30px;
  justify-content: space-between;
  margin: 0;
  padding: 0 5px 0 10px ;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 15;
}

.app__screens .screens .layoutHolder .no__title {
  opacity: 0 !important;
}

.app__screens .screens .layoutHolder .title__bar .close {
  cursor: pointer;
  transform: scale(0.5);
  transform-origin: center;
}

.app__screens .screens .view {
  position: relative;
}

.app__screens .screens .view webview {
  position: relative;
  z-index: 15;
}
