.app__screens {
  background: #eef4f6;
  box-sizing: border-box;
  padding: 15px;
}

.app__screens.no-sidebar {
  width: 100% !important;
}

.app__screens .screens{
  height: 100%;
  width: 100%;
}

.app__screens .screens .layoutHolder{
  align-items: center;
  box-shadow: #00000011 0 2px 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  justify-content: center;
  text-align: center;
}

.dashed {
  border: 2px dashed #4194af;
}

.app__screens .screens .layoutHolder .title__bar {
  align-items: center;
  background: var(--main-dark-blue);
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-weight: 500;
  height: 30px;
  justify-content: space-between;
  margin: 0;
  padding: 0 5px 0 10px ;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 15;
}

.app__screens .screens .layoutHolder .title__bar .close {
  color: var(--main-red);
  cursor: pointer;
}

.app__screens .screens .view {
  position: relative;
}

.app__screens .screens .view webview {
  position: relative;
  z-index: 15;
}

.app__screens .screens .view .open-in-browsers {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: -28px;
  width: 100%;
  z-index: 10;
  transition: .7s all cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
}

.app__screens .screens .view .open-in-browsers button:first-child {
  margin-top: 0;
}

.app__screens .screens .view .open-in-browsers button {
  height: 40px;
  margin: 5px 0;
  width: 40px;
}

.app__screens .screens .view .open-in-browsers button:hover {
  color: red;
}

.app__screens .screens .view:hover > .open-in-browsers {
  z-index: 20;
  right: -40px;
  opacity: 1;
}