/* Example stylesheet */

.app__sidebar {
  width: 350px;
  max-width: 350px;
  height: 100%;
  /* background: var(--main-darker-blue); */
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.app__sidebar--header {
  padding: 20px 0;
  margin: 20px 0;
}

.app__sidebar--footer {
  flex-grow: 1;
  margin: auto;
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}