.app__sizes {
  border-top:1px solid #eaf0f5;
  border-bottom:1px solid #eaf0f5;
  padding: 20px;
  margin: 0 -20px;
}

.app__sizes h3 {
  font-size: 20px;
  font-weight: 600;
  color: #142243;
  padding-bottom: 10px;
}

.app__sizes h3::after{
  display: block;
  content: '';
  width: 20px;
  height: 2px;
  background: #142243;
  margin: 15px 0 0;
}

.app__size__list {
  margin: 0;
  padding: 0;
}

.app__size__list li {
  border-bottom:1px solid #eaf0f5;
  height: 40px;
  line-height: 40px;
  position: relative;
  overflow: hidden;
}

.app__size__list li i {
  position: absolute;
  right: -30px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 25px;
  font-size: 20px;
  color: #f64e64;
  line-height: 25px;
  width: 25px;
  text-align: center;
  border-radius: 1000px;
  transition: right 0.2s ease-in;
  cursor: pointer;
}

.app__size__list li:hover > i {
  right: 0;
}