.app__tabs {
  align-items: center;
  background: var(--color-main-bg);
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.app__tab {
  align-items: center;
  border-right: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 20%;
  height: 100%;
}

.app__tab:first-child{
  border-left: 1px solid black;
}

.app__tab:last-child {
  border-right: none;
}

.app__tab.active {
  background-color: var(--color-secondary-bg);
}

.app__tab__content{
  height: calc(100vh - 60px);
  background-color: var(--color-secondary-bg);
}