.app__tabs {
  align-items: center;
  background: var(--color-main-bg);
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.app__tab {
  align-items: center;
  border-right: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 20%;
  height: 100%;
}

.app__tab:first-child{
  border-left: 1px solid black;
}

.app__tab:last-child {
  border-right: none;
}

.app__tab.active {
  background-color: var(--color-secondary-bg);
  position: relative;
}

.app__tab.active .icon {
  fill: #ffffff;
}

.app__tab.active::after {
  content: '';
  height: 1px;
  width: 100%;
  z-index: 10;
  background: var(--color-secondary-bg);
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.app__tab__content{
  box-sizing: border-box;
  border-top: 1px solid black;
  height: calc(100vh - 60px);
  background-color: var(--color-secondary-bg);
}

/* Tabs Section */
.app__tab__section {}

.app__tab__section .title {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: 40px;
  background: var(--color-main-bg);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 20px 0;
}

.app__tab__section .title .editable {
  cursor: pointer;
}

.app__tab__section .title .editable svg {
  margin-right: 5px;
}

.app__tab__section .title .editable span {
  margin-right: 10px;
  font-size: 11px;
  position: relative;
  top: -1px;
}

.app__tab__section .title span {
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0.36px;
}

.app__tab__section--content {
  padding: 0 15px;
  overflow-y: scroll;
    max-height: calc(100vh - 60px - 280px);
}

.mostly-customized-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa; /* or add it to the track */
}

/* Add a thumb */
.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
    background: #000; 
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

.app__tab__section--content::-webkit-scrollbar {
  width: 12px;
}
/* Track */
.app__tab__section--content::-webkit-scrollbar-track {
  -webkit-border-radius: 0;
  border-radius: 0;
  background: black;
}

/* Handle */
.app__tab__section--content::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid black;
  background: rgb(87, 87, 87);
}
