.app__tabs {
  align-items: center;
  background: var(--color-main-bg);
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.app__tab {
  align-items: center;
  border-right: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 20%;
  height: 100%;
}

.app__tab:first-child{
  border-left: 1px solid black;
}

.app__tab:last-child {
  border-right: none;
}

.app__tab.active {
  background-color: var(--color-secondary-bg);
  position: relative;
}

.app__tab.active .icon {
  fill: #ffffff;
}

.app__tab.active::after {
  content: '';
  height: 1px;
  width: 100%;
  z-index: 10;
  background: var(--color-secondary-bg);
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.app__tab__content{
  box-sizing: border-box;
  border-top: 1px solid black;
  height: calc(100vh - 60px);
  background-color: var(--color-secondary-bg);
}

/* Tabs Section */
.app__tab__section {}

.app__tab__section .title {
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px;
  height: 40px;
  background: var(--color-main-bg);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 20px 0;
}

.app__tab__section .title span {
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0.36px;
}

.app__tab__section--content {
  padding: 0 15px;
}