@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,600,700&display=swap');

.app__testing * {
  /* font-family: 'Work Sans', 'Roboto', sans-serif;
  font-weight: 400; */
  font-family: SFProDisplay,  'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.app__testing h3 {
  color: #3C444C;
  font-family: SFProDisplay-Semibold,  'Roboto', sans-serif;
  font-size: 17px;
  letter-spacing: 0;
}

.app__testing {
  display: flex;
  height: inherit;
  justify-content: space-between;
}

.app__testing__aside {
  background-color: #F6F8FB;
  box-sizing: border-box;
  min-width: 350px;
  padding: 25px 30px;
  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app__testing__data {
  background: #3F3356;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: scroll;
  padding: 20px 20px 0 20px;
  white-space: pre-wrap;
  width: 70%;
}

.app__testing__content h3 {
  border-bottom: 2px solid #8D6CD1;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  max-width: 30%;
  padding: 0 0 20px 0;
}

.app__testing__content.no--data {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.app__testing__content.no--data h3 {
  border: none;
  font-size: 120px;
  font-weight: 900;
  max-width: none;
  opacity: 0.1;
  text-transform: uppercase;
}

.object-content {
  font-size: 14px;
}

.react-json-view {
  height: 100%;
  max-width: 100%;
  overflow: scroll;
  padding: 20px;
  width: 100%;
}

.variable-row,
.string-value {
  white-space: pre-wrap;
  width: auto;
}

.icon-container + span,
.object-key {
  font-weight: 700;
}


.app__testing .error__message {
  line-height: 2em;
}

.app__testing .error__message .default {
  font-size: 20px;
}

.app__testing .error__message .message {
  font-size: 18px;
  font-weight: bold;
}

.app__testing .error__message .url {
  color: #E1464E;
  font-style: italic;
}

.app__testing__query {
  flex-grow: 1;
}

.app__testing--actions {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.app__testing--new--dataset {
  background-color: #6979F8;
  border-radius: 3px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  padding: 0 10px;
  height: 40px;
  text-transform: uppercase;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s background;
}

.app__testing--new--item {
  background-color: #E5E7FA;
  border-radius: 3px;
  color: #6979F8;
  font-size: 12px;
  padding: 0 10px;
  font-weight: 600;
  height: 40px;
  text-transform: uppercase;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s background;
}

/* Right Side */

.app__pagination {
  align-items: center;
  background: #DFE6EE;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  min-height: 100px;
  max-height: 100px;
  justify-content: space-between;
  margin-left: -20px;
  margin-right: -20px;
  padding: 5px 10px;
  width: initial;
}

.app__pagination button {
  border-radius: 3px;
  display: block;
  font-weight: 600;
  height: 40px;
  padding: 0 5px;
  text-transform: uppercase;
  width: 120px;
}

.app__pagination button.next {
  background-color: #3F4A56;
  color: white;
}


/* Header settings  */
.app__testing__header {
  margin-bottom: 30px;
}

.app__input__row {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.app__input__row label{
  /* text-transform: uppercase; */
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-right: 10px;
}

.app__input__row input{
  background: #FFFFFF;
  border: 1px solid #DFE6EE;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
  height: 40px;
  padding: 5px 10px;
  transition:  cubic-bezier(0.175, 0.885, 0.32, 0.775) all 0.3s;
  width: 100%;
}

.app__input__row input:focus {
  border: 1px solid #0099FA;
  border-radius: 4px;
  box-shadow: inset 0 0 0 3px rgba(0,153,250,0.15);
}


.app__input__row textarea{
  background: #FFFFFF;
  border: 1px solid #DFE6EE;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
  height: 40px;
  padding: 5px 10px;
  transition:  cubic-bezier(0.175, 0.885, 0.32, 0.775) all 0.3s;
  width: 100%;
}

.app__input__row textarea:focus {
  border: 1px solid #0099FA;
  border-radius: 4px;
  box-shadow: inset 0 0 0 3px rgba(0,153,250,0.15);
}

.app__testing__title {
  background: #8091A5;
  color:#fff;
  font-size: 18px;
  font-weight: 600;
  margin: -10px -20px 20px;
  padding: 20px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 0.4; /* Firefox */
}

/* INPUTS */

.switch .slider:focus,
.switch input:focus,
.switch:focus,
select:focus {
  outline: none;
}

.q_form--divider {
  align-items: center;
  border-top: 1px solid black;
  display: flex;
  height: 1px;
  justify-content: center;
  margin: 15px 0;
  opacity: .05;
}

.form-control {
  box-sizing: border-box;
  margin: 0 0 20px 0;
  width: 100%;
}

.form-control.v-centered{
  align-items: center;
  display: flex;
}

.form-control.v-centered .label {
  font-family: SFProDisplay,  'Roboto', sans-serif;
  font-size: 14px;
  margin-left: 10px;
}

.form-control select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: #FFFFFF;
  background-image: url('/img/Icons/icon_settings.svg'), url('/img/Icons/icon_arrow.svg');
  background-position: left .7em top 50%, right .7em top 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: .65em auto, .65em auto;
  border: 1px solid #ECEBED;
  border-radius: 6px;
  box-shadow: 0 7px 64px 0 rgba(0,0,0,0.07);
  box-sizing: border-box;
  color: #3F3356;
  font-size: 15px;
  height: 48px;
  line-height: 1.3;
  padding: .6em 1.4em .5em 2.2em;
  width: 100%;
}

.form-control textarea:disabled::placeholder {
  opacity: 1; /* Firefox */
}

.form-control textarea:disabled,
.form-control select:disabled {
  cursor: not-allowed;
  opacity: .5;
}

.form-control textarea {
  background: #FFFFFF;
  border: 1px solid #ECEBED;
  border-radius: 6px;
  box-shadow: 0 7px 64px 0 rgba(0,0,0,0.07);
  box-sizing: border-box;
  color: #3F3356;
  font-size: 15px;
  height: 100px;
  padding: 10px;
  resize: none;
  width: 100%;
}

.form-control .app__load__query {
  background-color: #6979F8;
  border-radius: 3px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  height: 40px;
  text-transform: uppercase;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s background;
  width: 140px;
}

.form-control .app__load__query:disabled {
  background: #8091A5;
  cursor: not-allowed;
  opacity: .4;
}

.form-control.end {
  display: flex;
  justify-content: flex-end;
}

/* SLIDER */
.switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 44px;
}

/* Hide default HTML checkbox */
.switch input {
  height: 0;
  opacity: 0;
  width: 0;
}

/* The slider */
.slider {
  background-color: #ECE9F1;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  background-color: #D0C9D6;
  bottom: 4px;
  content: "";
  cursor: pointer;
  height: 16px;
  left: 4px;
  position: absolute;
  -webkit-transition: .4s;
  transition: .4s;
  width: 16px;
}

input:checked + .slider {
  background: rgba(128, 145, 165, 0.2);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  background: #6979F8;
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* GLOBALS */
*:focus,
*:active,
*:focus-within { outline: none; }
.no-margin { margin: 0; }


/* DATA VIEW COMPONENT  */

.dataview__header {
  align-items: flex-end;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
  margin: 0 -20px;
  padding: 20px;
}

.dataview__header h2 {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0;
  margin-bottom: 5px;
  margin-top: 0;
}

.dataview__header span{
  color: #FFFFFF;
  font-family: FiraCode-Medium;
  font-size: 12px;
  letter-spacing: 0;
  opacity: 0.37;
}

.dataview__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 40px;
}

.dataview__content h3 {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  margin-bottom: 30px;
}

.dataview__content--actions {
  align-self: flex-end;
  margin-bottom: 20px;
}


.dataview__content--rows {
  max-height: 100%;
  overflow: scroll;
  padding-bottom: 20px;
}

.dataview__content--actions button {
  background: #6979F8;
  border-radius: 6px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  height: 40px;
  text-transform: uppercase;
  width: 210px;
}

/* DATA VIEW CELLS  */

.app__testing__data .row {
  align-items: center;
  border-bottom: 1px solid #c3c3c3;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 14px;
  height: 60px;
  justify-content: flex-start;
  line-height: 1.5em;
  padding-bottom: 10px;
  padding-top: 10px;
}

.app__testing__data .row .row--delete {
  align-items: center;
  background: #DE6565;
  color: #ffffff;
  display: flex;
  font-size: 9px;
  height: 18px;
  justify-content: center;
  text-transform: uppercase;
  width: 55px;
  line-height: 16px;
  font-weight: 600;
  letter-spacing: .1pt;
  border-radius: 2px;
  justify-self: flex-end;
}

.app__testing__data .row span:first-child {
  font-family:  Roboto, Arial, Helvetica, sans-serif;
  margin-right: 3px;
}

.app__testing__data .row.row--emtpy {
  opacity: 0.2;
}

.app__testing__data .row span:nth-child(3) {
  margin-left: 10px;
  word-break: break-all;
}

.row--end {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.data__cell {
  align-items: center;
  color :#ffffff;
  display: flex;
  font-family: 'Fira Code', Roboto, Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.dataview__btn {
  border-radius: 3px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  height: 40px;
  margin: 0 10px;
  text-transform: uppercase;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s background;
  width: 100px;
}

.dataview__btn--primary {
  background-color: #6979F8;
  border-radius: 3px;
  color: #ffffff;
}

.dataview__btn--secondary {
  background-color: #E5E7FA;
  border-radius: 3px;
  color: #6979F8;
}

.data__cell--edit {
  background-color: rgba(0,0,0,0.27);
  border: 1px solid rgba(255,255,255,0.28);
  border-radius: 6px;
  color: #ffffff;
  font-family: 'Fira Code', Roboto, Arial, Helvetica, sans-serif;
  font-size: 13px;
  height: 35px;
  margin:0 10px;
  padding: 0 10px;
}

.data__cell--save {
  align-items: center;
  background: #3BF36E;
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: center;
  margin: 0 5px;
  width: 24px;
}

.data__cell--cancel {
  align-items: center;
  background: #DE6565;
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: center;
  margin: 0 5px;
  width: 24px;
}
